h1 {
  font-style: italic;
  text-align: center;
  text-decoration-color: red;
}


img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:30%
}

.jumbotron {
  color:white;
  background-color:green;
}
